{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <form enctype="multipart/form-data" method="post" action="/add_event">
            {% csrf_token %}
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Event Name</label>
                <input class="w-30 m-1" type="text" name="event_name" id="" required>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Type of Event</label>
                <input class="w-30 m-1" type="text" name="type_of_event" id="" required>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Audience</label>
                <select class="w-30 m-1" name="audience" class="form-control">
                    <option value="faculty" selected>Faculty</option>
                    <option value="student">Student</option>
                    <option value="both">Faculty and Student</option>
                </select>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Organized By</label>
                <input class="w-30 m-1" type="text" name="org_by" id="" required>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Conducted By</label>
                <input class="w-30 m-1" type="text" name="cond_by" id="" required>
            </div>
            
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1" >Sponsors Involved</label>
                <select class="w-30 m-1" name="sponsors" class="form-control sponsors1">
                    <option value="MSIT" selected>MSIT</option>
                    <option value="Others">Others</option>
                    <option value="Both">Both</option>
                </select>
            </div>
          
            <div class="form-group mb-2 align-center " id = "inputSponsors" >
                <label class="w-25" for="exampleFormControlInput1" id=" no_of_sponsors">Number of Sponsors</label>
                <input class="w-30 m-1" type="number" name="no_of_sponsors" id="sponsors" oninput="addSponsors(this.value)" val="1" required />
            </div>
          
            <div class="actual_sponsors" style = "display :none;">
                <textarea name="sponsored_dets" id="" cols="30" rows="10" class = "spons_text" ></textarea>
            </div>
          
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Total Amount of Sponsorship</label>
                <input class="w-30 m-1" type="number" name="total_sponsored_amt" id="total" required readonly/>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Start Date</label>
                <input class="w-30 m-1" type="date" name="start_date" id="" required>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">End Date</label>
                <input class="w-30 m-1" type="date" name="end_date" id="" required>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlInput1">Number of Participants</label>
                <input class="w-30 m-1" type="text" name="no_of_parti" id="" required>
            </div>
            <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlFile1">Upload Attendance</label>
                <input class="w-30 m-1" type="file" name="upload_atten" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group w-100">
                <input class="btn btn-primary btn-sm" type="submit" value="Add"/>
            </div>
        </form>
    </div>

{% endblock %}