{% extends 'base.html' %}

{% block body %}

    <!-- <div class="button-group">

        <a href="{% url 'display_events' %}" class="btn btn-primary btn-md" role="button">Events</a>
        <a href="{% url 'add_event' %}" class="btn btn-warning btn-sm" role="button">+</a>

    </div> -->
    <div class="table-responsive">
        <div id="wrapper">

            <br>
            <h3>Currently viewing {{ header }}</h3>
            <br>
            
            <div>
                <h5> Hide Columns </h5>
                <div class="checkbox-grid">
                    {% for field in fields %}
                        <li class="form-check form-check-inline" style="list-style: none;"><input type="checkbox" value="hide" name="{{field.name}}_col" id="{{ field.name }}_col" onchange="hide_show_table(this.id);">  {{ field.name }}</li>
                    {% endfor %}
                </div>
            </div>
            <br>

            <div class="table-responsive">
                <table id="employee_table" cellpadding="10" class="table table-sm table-bordered table-striped table-hover">
                    <tr>
                        <th>S.no</th>
                        {% for field in fields %}
                            <th id="{{field.name}}_col_head">{{ field.name }}</th>
                        {% endfor %}
                        <th>Action</th>
                    </tr>
                    {% for event in event_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="id_col" >{{ event.id }}</td>
                            <td class="event_name_col" >{{ event.event_name }}</td>
                            <td class="type_of_event_col" >{{ event.type_of_event }}</td>
                            <td class="Audience_col" >{{ event.Audience }}</td>
                            <td class="Organized_by_col" >{{ event.Organized_by }}</td>
                            <td class="Conducted_by_col" >{{ event.Conducted_by }}</td>
                            <td class="no_of_sponsors_col" >{{ event.no_of_sponsors }}</td>
                            <td class="sponsors_details_col">{{ event.sponsors_details }}</td>
                            <td class="total_sponsored_amt_col">{{ event.total_sponsored_amt }}</td>
                            <td class="start_date_col" >{{ event.start_date }}</td>
                            <td class="end_date_col" >{{ event.end_date }}</td>
                            <td class="no_of_participants_col" >{{ event.no_of_participants }}</td>
                            <td class="upload_attendance_col" >{{ event.upload_attendance }}</td>
                            <td class="uploaded_at_col" >{{ event.uploaded_at }}</td>
                            <td>
                                <a href="{% url 'edit_event' event.id %}" class="btn btn-warning btn-sm" role="button">Edit</a>
                                <a href="{% url 'delete_event' event.id %}" class="btn btn-danger btn-sm" role="button">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
